@{
	Layout = "~/Views/Shared/NavTopTemplate.cshtml";
}
<ul>
    <li actionname="设备管理">
        <a href="@Url.Action("Index","Home")"> 设备管理</a>
    </li>
    <li actionname="系统管理">
        <a href="@Url.Action("Index", "User")"> 系统管理</a>
    </li>
    <li actionname="项目管理">
        <a href="@Url.Action("Index", "ProjectManager")">项目管理</a>
    </li>
    <li actionname="基础信息管理">
        <a href="@Url.Action("Index", "DeviceType")">基础信息管理</a>
    </li>
    <li actionname="关于我们">
        <a>关于我们</a>
    </li>
</ul>

