@{
	Layout = "~/Views/Shared/NavTopTemplate.cshtml";
}
<ul>
    <li>
        设备管理
    </li>
    <li>
        系统管理
    </li>
    <li>
        权限管理
    </li>
    <li>
        关于我们
    </li>
</ul>
