@{
    ViewBag.Title = "NavLeft";
    Layout = "~/Views/Shared/NavLeftTemplate.cshtml";
    //Layout = "~/Views/Shared/NavLeft.cshtml";
    string ControllerName = ViewContext.RouteData.Values["controller"] as string;
}

<ul id="leftUl">
    <li leftname="设备信息">
        <a href="@Url.Action("Index", "Device", new { _ = DateTime.Now.Ticks })">设备信息</a>
    </li>
    <li leftname="维修记录信息">
        <a href="@Url.Action("RepairRecordList", "Device", new { _ = DateTime.Now.Ticks })">维修记录信息</a>
    </li>
    <li leftname="保养记录信息">
        <a href="@Url.Action("MaintainRecordList", "Device", new { _ = DateTime.Now.Ticks })">保养记录信息</a>
    </li>
</ul>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Left.js")"></script>


