@{
    ViewBag.Title = "NavLeft";
    Layout = "~/Views/Shared/NavLeftTemplate.cshtml";
    //Layout = "~/Views/Shared/NavLeft.cshtml";
    string ControllerName = ViewContext.RouteData.Values["controller"] as string;
}
<ul id="leftUl">
    <li>
        <a href="@Url.Action("Index", "Device")">设备信息</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManufactureManager")">维修记录信息</a>
    </li>
    <li>
        <a href="@Url.Action("Index", "ManufactureManager")">保养记录信息</a>
    </li>
</ul>

<script>
    
</script>