body {
}

.userSearchForm {
    width: 100%;
    margin-left: 10px;
}

[name="project"] {
    width: 200px;
    height: 28px;
}

.userSearchForm input, select {
    margin-right: 10px;
}

#btnSearch {
    width: 100px;
    height: 30px;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 30px;
}

#searchForm input[type="text"] {
    width: 270px;
    height: 26px;
    line-height: 28px;
}

.table-common {
    table-layout: fixed;
}

.lengHideTd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content #searchForm .time {
    width:120px;
}

.content #searchForm {
    min-width:850px;
    overflow:hidden;
    
}

