body {
}

.userSearchForm {
    width: 100%;
    margin-left: 10px;
}

[name="project"] {
    width: 200px;
    height: 28px;
}

[name="userName"] {
    height: 26px;
    margin-left: 10px;
    line-height: 28px;
}

#btnSearch {
    width: 100px;
    height: 30px;
    margin-top: -10px;
    margin-left: 10px;
    line-height: 30px;
}


