@{
    ViewBag.Title = "系统管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (false) {
	<script src="../../Scripts/jquery.js" type="text/javascript"></script>
}
<script type="text/javascript">

</script>
<div actionname="设备管理">

</div>


