@{
    ViewBag.Title = "NavLeft";
    //Layout = "~/Views/Shared/NavLeft.cshtml";
}

<ul>
    <li>
        <a href="@Url.Action("Index", "BasicInfoManager")">设备类别管理</a>
    </li>
    <li>
        <a href="@Url.Action("SupplierManager", "BasicInfoManager")">供应商管理</a>
    </li>
</ul>
