<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="DeviceMgmtEntities" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.44.129;initial catalog=DeviceMgmt;persist security info=True;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DeviceMgmtForDB" connectionString="Server=192.168.44.129;Database=DeviceMgmt;Uid=sa;Pwd=123456;" providerName="System.Data.SqlClient" />
  <!--<add name="DeviceMgmtEntities" connectionString="metadata=res://*/Entity.csdl|res://*/Entity.ssdl|res://*/Entity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DeviceMgmt;persist security info=True;user id=sa;password=a123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="DeviceMgmtForDB" connectionString="Server=.;Database=DeviceMgmt;Uid=sa;Pwd=a123456;" providerName="System.Data.SqlClient" />-->
</connectionStrings>
